.modal-create-bookStorage {
    width: auto !important;
    min-width: 35vw;
}

.modal-create-order {
    width: auto !important;
    min-width: 35vw;
}

.modal-create-order_detail {
    width: auto !important;
    min-width: 35vw;
}