.Sider {
    background: #1890ff; 
  }
  
  .ant-menu-dark .ant-menu-item,
  .ant-menu-dark .ant-menu-submenu-title {
    color: #fff;
  }
  
  .ant-menu-dark .ant-menu-item-selected {
    background-color: #096dd9; 
  }
  
  .ant-menu-dark .ant-menu-item:hover {
    background-color: rgba(24, 144, 255, 0.5); 
  }
  
