#main-layout-menu {
    background-color: var(--background-color);
    border: none;
    color: var(--theme-color);
}

.ant-menu-title-content {
    font-size: var(--font-size-h3);
    color: var(--font-color-p);
    font-weight: var(--font-weight-h3);
}