.container-fluid.full-screen {
    background: linear-gradient(to bottom, #1e3c72 50%, white 50%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.align-items-center.justify-content-center {
    width: 400px;
    background-color: white;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

h4 {
    margin-bottom: 30px; 
}

.Form.Item {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
}

.Button {
    background-color: #2a5298;
    color: white;
    border-radius: 5px;
    width: fit-content;
    align-self: flex-end; 
}
