.container-fluid.full-screen {
    background: linear-gradient(to bottom, var(--theme-color) 50%, var(--foreground-color) 50%);
    height: 100vh;
}

#login-form {
    background-color: var(--foreground-color);
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-down);
    width: 450px;
}

#login-form form {
    width: 100%;
}

#login-form label span {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p)
}

#login-form #username-input {
    height: 40px;
}

#login-form #basic_password {
    height: 30px;
}

#login-btn {
    height: 40px;
}


